*{
    box-sizing:border-box;
}

.column{
    float: left;
    width: 200px;
    height: 100px;
    border: grey;
    padding: 10px;
    margin: 5px;
}

.row{
    content:" ";
    display: table;
    clear: both;
}

.box{
    float: left;

}

header {
    height: 10vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    font-family: sans-serif;
    font-style:normal;

}

header{
    background-color: none;   
    top:auto;  
    height: 30px;
    display: flex;
    align-items: center;
    

}
header *{
    display: inline;
}

header li{
    margin: 10px;
    float: inline-start;
    margin-left: 1.5cm;
    margin-top: 0in;
}

header li a{
    color: black;
    text-decoration: none;
    text-align-last: auto;

}

header button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    

}

.first h1{
    font-family: sans-serif;
    font: 100; 
    text-align: left;
    margin-top: 1in;
    margin-left: 1in;
    
}

.first h2{
    font-size: small;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0in;
    margin-left: 1in;
}
.first span{
    text-decoration:underline;
  
}

.first button{
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }


.first img{

    border-radius: 8px;
    box-sizing: inherit;
    max-width: 10in;
    height: 5in;
    margin-left: 6in;
    margin-top: 0;


}

.button{
    background-color: blue;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  

}



